body{
    font-family: 'Trebuchet MS' ;
    text-align: center;
    font-size: larger;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

img {
    
    height: 50%;
    width:50%;
  }

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 50px;
}  
input{
    background-color: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    border-color: #02475E;
}
form{
    padding: 10px;
    margin:  40px 250px;
    color: #02475E;
    font-size: 22px;
    text-align: left;
    padding-top: 20px;

}

button {
    
    background-color:#0a0a23;
    color: #fff;
    font-size: 18px;
    border:none; 
    border-radius:10px; 
    padding:15px;
    margin-left: 170px;
    margin-right: 90px;
  }
.button:hover {
    background-color:#002ead;
    transition: 0.7s;
}